<div id="appInput">
	<div id="flexDiv">
		<div class="navButtons">
			<button class="navButton" ng-click="$ctrl.showRegionForm();" id="region">Region</button>
			<div id="regionDiv" class="parameters" ng-show="$ctrl.regionShow" ng-repeat="region in $ctrl.regions">
				<button ng-click="$ctrl.hideRegionForm(region);" region-directive class="item">{{ region }}</button>
			</div>
		</div>
		<div class="navButtons">
			<button class="navButton" ng-click="$ctrl.showCuisineForm();" id="cuisine">Cuisine</button>
			<div id="cuisineDiv" class="parameters" ng-show="$ctrl.cuisineShow" ng-repeat="cuisine in $ctrl.cuisines">
				<button ng-click="$ctrl.hideCuisineForm(cuisine);" cuisine-directive class="item">{{ cuisine }}</button>
			</div>
		</div>
		<div class="navButtons">
			<button class="navButton" ng-click="$ctrl.showEntertainmentForm();" id="entertainment">Entertainment</button>
			<div id="entertainmentDiv" class="parameters" ng-show="$ctrl.entertainmentShow" ng-repeat="entertainment in $ctrl.entertainments">
				<button ng-click="$ctrl.hideEntertainmentForm(entertainment);" entertainment-directive class="item">{{ entertainment }}</button>
			</div>
		</div>
		<div class="navButtons">
			<button class="navButton" ng-click="$ctrl.showSportsForm();" id="sports">Sports</button>
			<div id="sportsDiv" class="parameters" ng-show="$ctrl.sportsShow" ng-repeat="sport in $ctrl.sports">
				<button ng-click="$ctrl.hideSportsForm(sport);" sports-directive class="item">{{ sport }}</button>
			</div>
		</div>
	</div>
	<div id="userChoices">
		<button class="citySelect" ng-style="{'background-image': 'url(' + city.image + ')'}" ng-click="$ctrl.showCityInfo(city)"
		    ng-repeat="city in $ctrl.cities | limitTo: 3 | orderBy:counter track by $index">
			<p>{{ city.name }}</p>
		</button>
	</div>
</div>