<div id="cityView">
    <div id="viewHead">
        <div id="nameWrap">
            <h3>Visit {{ $ctrl.thisCity.name }}! </h3>
        </div>
        <div id="cityInfo">
            <img ng-src="{{$ctrl.thisCity.image}}">
            <p class="cityDescription">{{ $ctrl.thisCity.description }}</p>
        </div>
    </div>
    <div id="viewMap">
        <div id="map"></div>
    </div>
    <div id="viewSelect">
        <button class="viewSelectButton" ng-if="$ctrl.thisCityCuisine" ng-click="$ctrl.searchCuisine()">Try some {{ $ctrl.thisCityCuisine}} food!</button>
        <button class="viewSelectButton" ng-if="$ctrl.thisCityEntertainment" ng-click="$ctrl.searchEntertainment()">Check out some {{ $ctrl.thisCityEntertainment}}! </button>
        <button class="viewSelectButton" ng-if="$ctrl.thisCitySport" ng-click="$ctrl.searchSport()">Visit {{ $ctrl.thisCitySport}} stadiums!</button>
        <button class="viewSelectButton" ng-click="$ctrl.showItinerary()">Itinerary</button>
    </div>
    <div ng-click="$ctrl.saveResult(place)" id="viewResults" ng-repeat="place in $ctrl.results | orderBy:place.rating" ng-class="{'in-itinerary': $ctrl.isInItinerary(place)}">
        <div id="viewResultsName">
            <p ng-if="$ctrl.isInItinerary(place)">
                <i class="material-icons">check</i>
            </p>
            <p>{{place.name}}</p>
        </div>
        <p>Rating: {{place.rating}} </p>
    </div>
</div>