<div id="cityView">

    <div id="viewHeader">
        <h3>Visit {{ $ctrl.thisCity.name }}! </h3>
        <img ng-src="{{$ctrl.thisCity.image}}" />
        <p class ="cityDescription">{{ $ctrl.thisCity.description }}</p>
    </div>

    <div id="viewMap">
        <div id="map"></div>
    </div>

    <div id="viewSelect">
<!--         <p>{{ $ctrl.thisCitySport }}</p> -->
        <p>Try some {{ $ctrl.thisCityCuisine }} food from {{ $ctrl.thisCity.name }}!</p>
        <button ng-click="$ctrl.searchCitySport();">Search {{ $ctrl.thisCitySport }} teams from {{ $ctrl.thisCity.name }}</button>
    </div>
</div>