/* ---------------------------------------- mobile view */

body {
	background-color: #CDEDF6;
	color: #042a2b;
	font-family: "Courier New";
}

button {
	font-family: "Courier New";
	display: block;
	width: 150px;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.item:hover {
	background-color: black;
}

#submitButton {
	background-color: purple;
	margin-top: 20px;
}

.hidden {
	display: none;
}

#region {
	background-color: red;
}

.region button {
	color: red;
	border: 2px solid red;
	font-weight: bold;
	background-color: white;
}

#cuisine {
	background-color: orange;
}

.cuisine button {
	color: orange;
	border: 2px solid orange;
	font-weight: bold;
	background-color: white;
}

#entertainment {
	background-color: green;
}

.entertainment button {
	color: green;
	border: 2px solid green;
	font-weight: bold;
	background-color: white;
}

#sports {
	background-color: blue;
}

.sports button {
	color: blue;
	border: 2px solid blue;
	font-weight: bold;
	background-color: white;
}
.citySelect {
	color: black;
	background-color: green
}
#vacaHeader {
	text-align: center;
	height: 10%;
	border: 4px solid #d84727;
	border-radius: 5px;
}


#appInput {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#inputButtons {
	padding-left: 20px;
}


#inputButtons, #userChoices {
	display: flex;
	flex-direction: column;
	min-width: 40%;
	border-radius: 5px;
	border: 4px solid #d84727;
	background-color: #ef7b45;
}

#cityView {
	border: 4px solid #5eb1bf;
	text-align: center;
	margin-top: 40px;
	height: 80%;
	border-radius: 5px;
}

.citySelect {
	text-align: center;
	margin-bottom: 15px;
	width: 100px;
	height: 30px;
	border: 2px solid black;
}

#map {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

img {
	width: 300px;
	height: 250px;
	border-radius: 10px;
}
img{
	width: 50px;
	height: 50px;
	border-radius: 10px;
	margin: 2px;
}
#viewHeader {
	display: flex;
	border: 2px solid #5eb1bf;
	align-items: center;
	justify-content: space-between;
	margin: 2px;
}
#viewMap {
	margin: 2px;
	border: 2px solid #5eb1bf;
	padding: 2px;
}

/* ---------------------------------------- desktop view */

@media only screen and (min-width: 768px) {


.mainView{
	display: flex;
	flex-direction: column; 
}


.citySelect{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100px;
	border-radius: 5px;
}


#appInput {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#inputButtons{
	width: 500px;
	flex-direction: column;
	text-align: center;

	min-width: 40%;
	border-radius: 5px;
	border: 4px solid #d84727;
	background-color: #ef7b45;
	margin: 0 auto;
	/* order: 2; */
}


#userChoices {
	align-items: flex-start;
	flex-direction: row;
	min-width: 40%;
	border-radius: 5px;
	border: 4px solid #d84727;
	background-color: #ef7b45;
	/* order: 1; */
	justify-content: space-between;
	margin-top: 20px;
}

#cityView {
	border: 4px solid #5eb1bf;
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;
}

select {
width: 300px;
margin-bottom: 15px;
margin: 0 auto;
/* text-indent: 50%; */

}


options {

text-indent: 10px;

}








}