body {
	background:linear-gradient(to right, #fdfbfb, #c8cdcf);
	font-family: "Open Sans";
}

.navButton {
	font-family: "Open Sans";
	display: block;
	/*width: 150px;*/
	width: 100%;
	color: white;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;
	position: relative;
	transition: 0.5s all;
} 

.navButton:hover {
	background-color: lightgrey;
}

.navButton:after{
	content: '\E145';
	display: block;
	position: absolute;
	font-family: "Material Icons";
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.item {
	font-size: 18px;
	width: 150px;
	font-family: "Open Sans";
}

.button-wrapper {
	margin: 20px 0;
}

.item:hover {
	background-color: black;
}

.cityDescription{
	font-size: 15px;
}

#vacaHeader {
/*	background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
*/	background:linear-gradient(to right, #c8cdcf, #fdfbfb);
	text-align: center;
	height: 10%;
	border: 2px solid black;
	border-radius: 5px;
}

#appInput {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#cityView {
	border: 4px solid #5eb1bf;
	text-align: center;
	margin-top: 40px;
	height: 80%;
	border-radius: 5px;
}

.citySelect {
	text-align: center;
	margin-bottom: 15px;
	width: 150px;
	border: 2px solid black;
	font-family: "Courier New";
	font-size: 18px;
	font-weight: bold;
	display: block;
	background-color: white;
}

#map {
	width: 100%;
	height: 300px;
	margin: 0 auto;
}

img {
	width: 45%;
	height: 45%;
	border-radius: 10px;
	margin: 2px;
}

#viewHeader {
	display: flex;
	flex-direction: column;
	border: 2px solid #5eb1bf;
	align-items: center;
	justify-content: space-between;
	margin: 2px;
}
#viewMap {
	margin: 2px;
	border: 2px solid #5eb1bf;
	padding: 2px;
}

.material-icons {
	position: relative;
	top: 60px;
}

#flexDiv {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
}

#infoDiv {
/*	background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
*/	background:linear-gradient(to right, #c8cdcf, #fdfbfb);

	border: 2px solid black;
	border-radius: 5px;
	padding: 8px;
	text-align: center;
}

#userChoices {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#userChoices button {
	margin: 5px;
}

#circles {
	z-index: -1;
}

.container {
	max-width: 1400px;
	width: 90%;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {

	.mainView{
		display: flex;
		flex-direction: column; 
	}

	#flex-div {
		flex-direction: row;
	}

	#vacaHeader{
		width: 50%;
		margin: 10px auto;
	}

	#infoDiv {
		margin-left: 10px;
	}

	.cityDescription{

		font-size: 16px;
			
		}

		img {
			width: 35%;
			height: 35%;
		}
}