body {
	background:linear-gradient(to right, #fdfbfb, #c8cdcf);
	font-family: "Courier New";
}

.navButton {
	font-family: "Courier New";
	display: block;
	width: 150px;
	color: white;
	font-size: 18px;
	font-weight: bold;
} 

.item {
	font-size: 18px;
	width: 150px;
	font-family: "Courier New";
}

.item:hover {
	background-color: black;
}

.cityDescription{

font-size: 15px;

}

#region {
	background-color: red;
}

.region button {
	color: red;
	border: 2px solid red;
	font-weight: bold;
	background-color: white;
}

#cuisine {
	background-color: orange;
}

.cuisine button {
	color: orange;
	border: 2px solid orange;
	font-weight: bold;
	background-color: white;
}

#entertainment {
	background-color: green;
}

.entertainment button {
	color: green;
	border: 2px solid green;
	font-weight: bold;
	background-color: white;
}

#sports {
	background-color: blue;
}

.sports button {
	color: blue;
	border: 2px solid blue;
	font-weight: bold;
	background-color: white;
}

#vacaHeader {
/*	background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
*/	background:linear-gradient(to right, #c8cdcf, #fdfbfb);
	text-align: center;
	height: 10%;
	border: 2px solid black;
	border-radius: 5px;
}

#appInput {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#cityView {
	border: 4px solid #5eb1bf;
	text-align: center;
	margin-top: 40px;
	height: 80%;
	border-radius: 5px;
}

.citySelect {
	text-align: center;
	margin-bottom: 15px;
	width: 150px;
	border: 2px solid black;
	font-family: "Courier New";
	font-size: 18px;
	font-weight: bold;
	display: block;
	background-color: white;
}

#map {
	width: 100%;
	height: 300px;
	margin: 0 auto;
}

img {
	width: 45%;
	height: 45%;
	border-radius: 10px;
	margin: 2px;
}

#viewHeader {
	display: flex;
	flex-direction: column;
	border: 2px solid #5eb1bf;
	align-items: center;
	justify-content: space-between;
	margin: 2px;
}
#viewMap {
	margin: 2px;
	border: 2px solid #5eb1bf;
	padding: 2px;
}

.material-icons {
	position: relative;
	top: 60px;
}

#flexDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#infoDiv {
/*	background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
*/	background:linear-gradient(to right, #c8cdcf, #fdfbfb);
	margin-left: 10px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 8px;
}

#userChoices {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#userChoices button {
	margin: 5px;
}

#circles {
	z-index: -1;
}

#redCirc {
	position: relative;
	bottom: 350px;
	border-radius: 50%;
	background-color: red;
	height: 150px;
	width: 150px;
}

#orangeCirc {
	position: relative;
	left: 150px;
	bottom: 180px;
	border-radius: 50%;
	background-color: orange;
	height: 100px;
	width: 100px;
}

#greenCirc {
	position: relative;
	bottom: 200px;
	left: 100px;
	border-radius: 50%;
	background-color: green;
	height: 180px;
	width: 180px;
}

#blueCirc {
	position: relative;
	border-radius: 50%;
	background-color: blue;
	height: 225px;
	width: 225px;
}

@media only screen and (min-width: 768px) {

	.mainView{
		display: flex;
		flex-direction: column; 
	}


	#vacaHeader{
		width: 50%;
		margin: 10px auto;
	}

	.cityDescription{

		font-size: 16px;
			
		}

		img {
			width: 35%;
			height: 35%;
		}



}